<div class="flex flex-wrap justify-center gap-6 p-4">
  <a routerLink="/pages/test/test-for-loop">For 迴圈</a>
  |
  <a routerLink="/pages/test/test-if-condition">if 判別式</a>
  |
  <a routerLink="/pages/test/test-form-group">FormGroup</a>
  |
  <a routerLink="/pages/test/test-input-output-parent">Input & Output</a>
  |
  <a routerLink="/pages/test/test-pipe">Pipe</a>
  |
  <a routerLink="/pages/test/test-dependency-injection">Dependency Injection</a>
</div>

<h1 *ngIf="headerTitle" class="text-h2 font-black text-center mt-4 mb-8 px-4 block">{{ headerTitle }}</h1>
