<div [formGroup]="form">
  <div *ngIf="title" class="text-h3 mb-2">{{ title }}</div>
  <div class="relative">
    <div>
      <input
        class="w-full h-full py-1 pl-2 pr-10 border border-solid border-black rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
        [type]="isPassword ? 'password' : 'text'"
        [formControlName]="formControlName"
        [placeholder]="placeHolder"
      />
    </div>
    <div class="absolute top-1 right-2 cursor-pointer" (click)="showPassword()">
      <div><app-icon *ngIf="isPassword" name="eye-close" class="text-h1"></app-icon></div>
      <div><app-icon *ngIf="!isPassword" name="eye-open" class="text-h1"></app-icon></div>
    </div>
  </div>
  <div *ngIf="showError" class="mt-1 text-body3 text-red-600">
    {{ form.get(formControlName)?.errors?.['errorMessage'] }}
  </div>
</div>
