<div class="flex flex-wrap gap-8">
  <div class="text-center border-2 border-solid border-black p-4">
    <app-icon name="cheveron-down"></app-icon>
    <div class="text-body1">name="cheveron-down"</div>
  </div>
  <div class="text-center border-2 border-solid border-black p-4">
    <app-icon name="cheveron-up"></app-icon>
    <div class="text-body1">name="cheveron-up"</div>
  </div>
  <div class="text-center border-2 border-solid border-black p-4">
    <app-icon name="plus"></app-icon>
    <div class="text-body1">name="plus"</div>
  </div>
  <div class="text-center border-2 border-solid border-black p-4">
    <app-icon name="minus"></app-icon>
    <div class="text-body1">name="minus"</div>
  </div>
  <div class="text-center border-2 border-solid border-black p-4">
    <app-icon name="eye-open"></app-icon>
    <div class="text-body1">name="eye-open"</div>
  </div>
  <div class="text-center border-2 border-solid border-black p-4">
    <app-icon name="eye-close"></app-icon>
    <div class="text-body1">name="eye-close"</div>
  </div>
</div>
