<div [formGroup]="form">
  <div *ngIf="title" class="text-h3 mb-2">{{ title }}</div>
  <div class="relative cursor-pointer select-none" (click)="clickDropdown()">
    <div class="flex items-center justify-between w-full px-2 py-1 border border-solid border-black rounded">
      <div class="min-w-0 flex-1">
        <div class="text-body2" *ngIf="selectedItems.length === 0">{{ placeholder }}</div>
        <div class="text-body2" *ngIf="selectedItems.length > 0">{{ getSelectedLabels() }}</div>
      </div>
    </div>
    <div *ngIf="isOpen" class="absolute mt-1 w-full rounded border border-black bg-white">
      <div class="space-y-1 p-2">
        <label *ngFor="let option of options" class="flex items-center space-x-2 p-1 hover:bg-gray-100 cursor-pointer">
          <input type="checkbox" [checked]="isSelected(option.id)" (change)="checkOption(option.id, $event)" class="h-4 w-4" />
          <div class="text-body2">{{ option.name }}</div>
        </label>
      </div>
    </div>
  </div>
</div>
