<app-header></app-header>

<app-test-api-header></app-test-api-header>

<app-section>
  <div class="container mx-auto px-4 py-6">
    <!-- 切換資料庫按鈕 -->
    <div class="mb-16 flex justify-center gap-8">
      <app-button [text]="'切換到 test1'" (buttonClick)="switchDatabase('test1')"></app-button>
      <app-button [text]="'切換到 test2'" (buttonClick)="switchDatabase('test2')"></app-button>
    </div>
    <!-- 表單 -->
    <div *ngIf="isShowForm" class="mt-4 mb-8">
      <form>
        <div class="flex justify-center mb-4">
          <app-form-input-text [form]="form" [title]="'ID'" [type]="'text'" [formControlName]="'id'" [placeHolder]="'請輸入 ID'"></app-form-input-text>
        </div>
        <div class="flex justify-center mb-4">
          <app-form-input-text [form]="form" [title]="'User Name'" [type]="'text'" [formControlName]="'userName'" [placeHolder]="'請輸入 User Name'"></app-form-input-text>
        </div>
        <div class="flex justify-center mb-4">
          <app-form-input-text [form]="form" [title]="'Email'" [type]="'text'" [formControlName]="'email'" [placeHolder]="'請輸入 Email'"></app-form-input-text>
        </div>
        <div class="flex justify-center mb-4">
          <app-form-input-password [form]="form" [title]="'Password'" [formControlName]="'password'" [placeHolder]="'請輸入 Password'"></app-form-input-password>
        </div>
      </form>
      <div class="flex justify-center gap-4 mb-4">
        <app-button [text]="'返回'" (buttonClick)="goBack()"></app-button>
        <app-button [text]="'清除'" (buttonClick)="clearForm()"></app-button>
        <app-button [text]="'儲存'" (buttonClick)="handleSubmit()"></app-button>
      </div>
    </div>
    <!-- 操作按鈕 -->
    <div class="my-4 flex justify-start">
      <app-button [text]="'新增'" (buttonClick)="showForm()"></app-button>
    </div>
    <!-- 載入中提示 -->
    <div *ngIf="isLoading" class="text-body1 text-center text-gray-500">Loading...</div>
    <!-- 資料表格 -->
    <table *ngIf="!isLoading" class="min-w-full">
      <thead class="text-body3 text-left text-gray-500 bg-gray-100">
        <tr>
          <th class="p-4 text-center">操作</th>
          <th class="p-4 text-center">ID</th>
          <th class="p-4 text-center">User Name</th>
          <th class="p-4 text-center">Email</th>
          <th class="p-4 text-center">Password</th>
        </tr>
      </thead>
      <tbody class="text-body3">
        <tr *ngFor="let item of data">
          <td class="p-4 flex gap-4">
            <app-button [text]="'編輯'" (buttonClick)="editData(item._id!)"></app-button>
            <app-button [text]="'刪除'" (buttonClick)="deleteData(item._id!)"></app-button>
          </td>
          <td class="p-4 text-center">{{ item.id }}</td>
          <td class="p-4 text-center">{{ item.userName }}</td>
          <td class="p-4 text-center">{{ item.email }}</td>
          <td class="p-4 text-center">{{ item.password }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-section>
