<app-header></app-header>

<section class="p-4">
  <div class="flex">
    <!-- demo 分類列表 -->
    <div class="p-8 border-r-2 border-solid border-black">
      <nav>
        <ul>
          <li class="min-w-max mb-4">
            <div class="text-h3 cursor-default pb-4 border-b-2 border-solid border-black">Demo List</div>
          </li>
          <li class="min-w-max mb-4" *ngFor="let link of demoLinks">
            <div class="text-h3 cursor-pointer" (click)="changeOptions(link.title)">{{ link.title }}</div>
          </li>
        </ul>
      </nav>
    </div>
    <!-- demo 內容 -->
    <div class="w-full">
      <div class="p-8" [ngSwitch]="options">
        <app-demo-text *ngSwitchCase="'text'"></app-demo-text>
        <app-demo-icon *ngSwitchCase="'icon'"></app-demo-icon>
        <app-demo-button *ngSwitchCase="'button'"></app-demo-button>
        <app-demo-forms *ngSwitchCase="'forms'"></app-demo-forms>
        <app-demo-forms-validators *ngSwitchCase="'formValidators'"></app-demo-forms-validators>
      </div>
    </div>
  </div>
</section>
