<app-header></app-header>

<app-test-header [headerTitle]="headerTitle"></app-test-header>

<main class="leading-normal">
  <app-section [sectionTitle]="section1Title">
    <ul>
      <li *ngFor="let basicItem of array">{{ basicItem }}</li>
    </ul>
  </app-section>

  <app-section [sectionTitle]="section2Title">
    <ul>
      <li *ngFor="let item of arrayObjects">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
      </li>
    </ul>
  </app-section>

  <app-section [sectionTitle]="section3Title">
    <ul>
      <li *ngFor="let item of arrayObjects; index as i">{{ i + 1 }}. {{ item.name }} - {{ item.description }}</li>
    </ul>
  </app-section>

  <app-section [sectionTitle]="section4Title">
    <div *ngFor="let category of categoryList; let categoryIndex = index">
      <h3 class="text-lg font-bold mt-4 mb-2">{{ categoryIndex + 1 }}. {{ category.name }}</h3>
      <div class="my-2" *ngFor="let product of category.products; let productIndex = index">
        <h4 class="font-semibold my-1">{{ categoryIndex + 1 }}.{{ productIndex + 1 }} {{ product.name }}</h4>
        <ul>
          <li class="text-sm" *ngFor="let attribute of product.attributes; let attributeIndex = index">{{ categoryIndex + 1 }}.{{ productIndex + 1 }}.{{ attributeIndex + 1 }} {{ attribute.name }}: {{ attribute.value }}</li>
        </ul>
      </div>
    </div>
  </app-section>
</main>
